@font-face {
  font-family: 'NotesFont';
  src: url('/public/assets/fonts/NotesFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #080808;
  --sans: "NotesFont", "SF Pro Icons","Helvetica Neue","Helvetica","Arial", "sans-serif";
  --h2-font-size: 50px;
  --h3-font-size: 35px;
  --h4-font-size: 25px;
  --p-font-size: 17px;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--sans);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
  background-color: var(--primary);
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

.profile-pic {
  border-radius: 50%;
  height: 200px;
  flex-grow: 0 !important;
}

.chat-gpt-told-me-to-make-this-to-centralize-div {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.chatgpt-how-do-centralize-div {
  width: 612px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
  padding: 0.75rem;
}

.text-align-center {
  text-align: center;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #ac5cf7, #e91e63, #f8a729);
  color: #fff; /* Change to your desired text color */
  padding: 10px 0; /* Adjust the padding as needed */
  text-align: center;
  z-index: 100; /* Ensure it appears above other content */
  width: 0; /* Initial width is 0 */
}

h2 {
  font-size: var(--h2-font-size);
}
h3 {
  font-size: var(--h3-font-size)
}
h4 {
  font-size: var(--h4-font-size);
  margin-bottom: -2px;
}
p {
  font-size: var(--p-font-size);
  line-height: 130%;
}

.primary-button {
  background: none;
  color: white;
  font-family: var(--sans);
  font-size: var(--p-font-size);
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  border: 1px solid white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 200px;
}

.primary-button:hover {
  background-color: white;
  color: var(--primary);
  transition: 0.2s;
}

h3 {
  margin-top: 1rem;
}

a {
  color: white;
}

img {
  width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-contents {
  padding-left: 1rem;
  padding-right: 1rem;
}

.date-signature {
  text-align: center;
  margin-bottom: -1.5rem;
}

.date-signature p {
  font-size: 0.8rem !important;
  font-weight: bold;
  color: #87868C;
}

ul {
  margin-left: -1rem;
}